body {
    font-family: "Calibri Light";
    font-size: 11px;
    margin: 0;
}

header {
    color: ghostwhite;
    background: #999999;
    font-family: Calibri;
    margin: 0;
}

.container, .row {
    padding:0px;
}

.card-img-top {
    max-height: 300px;
    max-width: 500px;
}

.card {
    border-color: #0f0f0f;
}